.app-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 14px 18px;
  z-index: 20;
  width: 100%;
  background: #efefef;
}

.app-header .logo {
  font-weight: 700;
  font-size: 1rem;
  color: #222;
}
